body{
    background: #1F2937;
    border: 2px solid white;
    width: 400px;
    height: 300px;
    border-radius: 6px;
    color: white;
    padding: 150px 40px;
}
h1{
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;

    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Karla';
    font-style: normal;
  


}
#h1-line{
    color:#4ADF86 ;
    margin-top: 0;
   
}
button{
    background: #10B981;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Inter';
    font-size: 16px;
    margin-top: 30px;
}

#line{
    margin: 40px 0;
    border-top: 1px solid #2F3E53;
    display: flex;
    justify-content: space-between;
}

#first-password{
    margin-top: 40px;
    background-color: #273549;
    border: none solid white;
    color: #55F991;
    border-radius: 4px;
    padding: 5px 30px;
}
#second-password {
    margin-top: 40px;
    background-color: #273549;
    border: none solid white;
    color: #55F991;
    border-radius: 4px;
    padding: 5px 30px;
}